
.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus{outline:none}
.header {
  position:absolute;
  left: 98px;
  min-width: 1410px;
  border: 1px solid black;
  top: 0;
  min-height: 77px;
  display: flex;
  justify-content: space-between;
}
.header_icon{
z-index: 4444;
max-width:18px;
max-height: 18px;
padding-top: 28px;
}
.input {
  position: absolute;
  height: 100%;
  max-width: 500px;
  padding-left:25px;
  border: unset;
  /* border:1px solid black; */
}
.header_humans {
  margin:0 140px 0 0;
  max-width: 250px;
  max-height: 70px;
  box-sizing: border-box;
  display: flex;
  /* border: 1px solid black; */
}
.header_humans>div{
  margin-top: 16px;
  max-height: 44px;
  min-width: 44px;
  border-radius: 50%;
  /* border: 1px solid black; */
  margin-left: 9px;
}
.header_humans>div:hover{
  border: 1px solid blue;
}
.header_online {
  position: relative;
}
.online{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 12px;
  min-height: 12px;
  background-color: green;
  border-radius: 44%;
}
.plus{
  background-color: blue;
}
.img_plus{
  padding: 14px;
  max-height: 14px;
  max-width: 14px;
}
.main {
}

.aside {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 96px;
  border:1px solid black;
  max-height: 1000px;
  
}
.images {
  margin-top: -36px;
  /* border:3px solid rgb(173, 49, 49); */
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img{
  /* border:1px solid black; */
  margin-top: 84px;
  min-height: 27px;
  min-width: 27px;

}
.log{
  padding: 40px 0 0 30px ;

  max-height: 36px;
  max-width: 36px;
}
.log,.fot:hover {
  cursor: pointer;
}
.aside_head{
  border-bottom: 2px solid #CCCCCCFF;
  min-height: 106px;
  min-width: 96px;
}
.aside_footer{
margin-top: 200px;

}
.fot{
  padding: 0 37px 37px 37px;
  max-height: 36px;
  max-width: 36px;
}
.img:hover{
  border: blue;
  cursor: pointer;
}
.header__search{
  display: flex;
}
/* ==========Part Vache  */

.can{
  /* position: relative; */
}
#myChart{
 box-sizing: border-box;
 max-width: 264px;
  min-height: 218px;
  margin: 0;
  
}
#myChart2{
  box-sizing: border-box;
  max-width: 326px;
   min-height: 77px;
   margin: 0;
}

.main {
    border: 1px solid black;
    margin:78px 0 0 90px ;
  max-width: 100%;
  max-height: 100%;
}
.main__author{
  font-size: 40px;
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
}
.main__text{
  font-size: 14px;
  color:#959595FF;
  font-family: 'DM Sans', sans-serif;
font-weight: 100;
}
.main__header {
  border: 1px solid black;

}
.main__main {
  margin-top: 29px;
  display: flex;
  align-items: center;
  border: 1px solid black;

}
.main__main>div{
  margin-left: 40px;
  max-width: 326px;
  max-height:360px;
  border: 4px solid rgb(131, 67, 67);
}
.can {
}
.footer{
  border: 3px solid rgb(196, 13, 13);
  margin:29px 0 0 90px ;
max-width: 100%;
max-height: 360px;
display: flex;
justify-content: center;
align-items: center;

}
.footer>div{
  border: 3px solid rgb(15, 10, 10);

  margin-left: 40px;
  max-width: 692px;
  max-height: 360px;
  border-radius:10px
}
